.login{
    width: 50%;
    height: 500px;
}

.login-form{
    width: 50%;
}

.btnlog{
    width: 50%;
}

@media screen and (max-width:576px) {
    .login{
        width: 100%;
    }
    .login-form{
        width: 100%;
        padding: 20px;
    }
    .login-form input{
        width: 100%;
    }

    .btn{
        width: 50%;
        margin-bottom: 15px;
    }
}