.services{
    margin: 40px 0;
    background-color: rgba(231, 231, 231, 0.945);
}

.services span {
    background-color: orangered;
    display: inline-block;
    color: white;
    padding: 8px 30px;
    clip-path: polygon(100% 0, 93% 51%, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
}

.services .title{
    padding: 30px 0 0 0;
}

/* .cards{
    margin:10px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
} */